@using Microsoft.AspNetCore.Identity;
@using MisterRobotoArigato.Models;
@inject UserManager<ApplicationUser> UserManager
@inject SignInManager<ApplicationUser> SignInManager
@model Product
@{
    Layout = "_Layout";
}
<h2>@Model.Name</h2>
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <p>$@Model.Price</p>
            <p>@Model.Description</p>
        </div>
        <div class="col-md-6">
            <img src="@Model.ImgUrl" />
        </div>
    </div>
    @*<form asp-action="Add" asp-controller="Basket">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="ID" />
        <input type="hidden" asp-for="Name" />
        <input type="hidden" asp-for="SKU" />
        <input type="hidden" asp-for="Price" />
        <input type="hidden" asp-for="Description" />
        <input type="hidden" asp-for="ImgUrl" />
        <div class="form-group">
            <input type ="submit" value="Add to Cart"  class="btn btn-warning"/>
        </div>
    </form>*@
    <form asp-action="Add" asp-controller="Basket">
        <input type="submit" value="Add to Cart" class="btn btn-warning" asp-controller="Shop" 
            asp-action="Add" asp-route-id="@Model.ID" />
    </form>
    @*<button type="submit" class="btn btn-warning" 
            asp-action="Add" asp-controller="Shop" asp-route-id="@Model.ID">Add to Cart</button>*@
</div>